body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.profile {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #c2243f;
}
